@font-face {
  font-family: FiraCode;
  src: url(Fira_Code/FiraCode-VariableFont_wght.ttf);
}

.card-grid {
  margin-top: 20px;
  width: 100vw;
  position: absolute;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  height: 120px;
  top: 18px;
  left: 18px;
}

.head {
  margin: 20px;
  display: flex;
  align-items: center;
}

.headText {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.title {
  top: 20px;
  left: 160px;
  font-family: "Fjalla One";
  color: #D7D7D7;
  font-size: 38pt;
  margin: 0;
}

.created-by {
  top: 80px;
  left: 160px;
  font-family: "FiraCode";
  color: white;  
}
