@font-face {
  font-family: Jost;
  src: url(Jost/Jost-VariableFont_wght.ttf);
}

@font-face {
  font-family: FiraCode;
  src: url(Fira_Code/FiraCode-VariableFont_wght.ttf);
}

.card-grid {
  margin-top: 30px;
  padding-bottom: 30px;
  width: 100vw;
  position: absolute;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  height: 120px;
  top: 18px;
  left: 18px;
}

.head {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headText {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.headLeft {
  display: flex;
  align-items: center;
}

.headRight {
  width: 450px;
}

.headRight > p {
  font-family: "Jost";
  font-size: 15pt;
  text-align: right;
  color: white;
  
  padding: 5px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
}


.title {
  top: 20px;
  font-family: "Fjalla One";
  color: white;
  font-size: 38pt;
  margin: 0;
}

.titleDim {
  margin: 0px;
  color: #8d93b0;
  font-size: 20pt;
}

.created-by {
  top: 80px;
  font-family: "FiraCode";
  color: #D7D7D7;
}

.footer {
  z-index: 999;
  font-size: 10pt;
  color: white;
  margin-left: 20px;
  padding-inline: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: "FiraCode";
  display: flex;

  margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {

  .footer {
    justify-content: center;
  }

}

.footer > p {
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
}

.footer > p > a {
  cursor: pointer;
  color: white;
}
