.card-grid {
  position: absolute;
  display: flex;
  top: 250px;
  left: 50%;
  transform: translate(-50%, 0px);
}

.logo {
  height: 120px;
  position: absolute;
  top: 18px;
  left: 18px;
}

.title {
  position: absolute;
  top: 20px;
  left: 160px;
  font-family: "Fjalla One";
  color: #D7D7D7;
  font-size: 38pt;
  margin: 0;
}

.created-by {
  position: absolute;
  top: 80px;
  left: 160px;
  font-family: "Fira Code";
  color: white;
  
}