body {
  overflow-x: hidden;
  overscroll-behavior-y: none;
  /* background-color: #292A2D; */

  /* background: #283048;
  background: -webkit-linear-gradient(to right, #859398, #283048); 
  background: linear-gradient(to right, #859398, #283048); */

  /* background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526); */

  /* background: #134e5e;
  background: -webkit-linear-gradient(to right, #134e5e, #71b280);
  background: linear-gradient(to right, #134e5e, #71b280); */

  /* background: #085078;
  background: -webkit-linear-gradient(to right, #085078, #85d8ce);
  background: linear-gradient(to right, #085078, #85d8ce); */

  /* background: #16222a;
  background: -webkit-linear-gradient(to right, #16222a, #3a6073);
  background: linear-gradient(to right, #16222a, #3a6073); */

  
  /* background: #1d976c;
  background: -webkit-linear-gradient(to right, #1d976c, #93f9b9);
  background: linear-gradient(to right, #1d976c, #93f9b9); */

  background: #1a2980; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1a2980, #26d0ce); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1a2980, #26d0ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
